.Button {
    outline:none;
    border: none;
    background: #66CCFF;
    color:#005183;
    font-size:14px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 5px;
}

.Button:hover {
    background: #0082B9;
    color: white;
}

.Input {
    height:14px;
    padding:5px;
    font-size:14px;
    outline:none;
    border-radius:5px;
    border:1px solid #66CCFF;
}

span {
    padding: 0 10px;
}