.WebContainer{
    width:100vw;

}

.NavBar{
    width:100vw;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FloatLEFT, .FloatRIGHT{
    margin: 40px;
}

.NavBar p{
    margin:0;
    padding:0;
}
.heading{
    font-size: 36px;
    line-height: 50px;
    font-weight: 900;
}

.normal{
    font-size:12px;

}

.NavBar span{
    width:150px;
    padding: 5px;
}

.SearchBar{
    width:100vw;
    height:50px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
    background: #ECE5DD;
}

.ErrBar{
    height:50px;
    font-size:18px;
    line-height: 50px;

    font-weight: 900;
    background-color: white;;
}

.MainContent{
    width:100vw;
    background: white;
}